<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <p>{{ subtitulo() }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Titulo da Mensagem'
        },
        methods: {
            subtitulo() {
                return 'Subtitulo da Mensagem'
            }
        }
    })
</script>