<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <p>{{ subtitulo() }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Titulo da Mensagem'
        },
        methods: {
            subtitulo: function() {
                console.log(this);
                return this.titulo
            },
            // titulo() { gera erro pois como o Vue dispoem funções e variaveis na raiz da instância não pode existir um método com o mesmo nome de variável
            //     console.log(this);
            //     return this.titulo
            // }
        }
    })
</script>