<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <p>{{ subtitulo() }}</p>
    <a v-bind:href="link">Google</a>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Titulo da Mensagem',
            link: 'http://www.google.com.br'
        },
        methods: {
            subtitulo: function() {
                console.log(this);
                return this.titulo
            }
        }
    })
</script>