<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p v-once>{{ titulo }}</p>
    <p>{{ subtitulo() }}</p>
    <a v-bind:href="link">Google</a>
    <hr>
    <p v-html="linkHtml"></p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Titulo da Mensagem',
            link: 'http://www.google.com.br',
            linkHtml: '<a href="http://www.google.com.br">Google</a>'
        },
        methods: {
            subtitulo: function() {
                this.titulo = 'Bom dia!'
                return this.titulo
            }
        }
    })
</script>