<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button v-on:click="somar(5, $event)">Somar</button>
    <p v-on:mousemove="atualizarXY">x : {{x}} - y : {{y}}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0
        },
        methods: {
            somar(passo, event) {
                console.log(event)
                this.contador += passo
            },
            atualizarXY(event) {
                this.x = event.clientX
                this.y = event.clientY
            }
        }
    })
</script>