<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button v-on:click="somar(5, $event)">Somar</button>
    <p v-on:mousemove="atualizarXY">
        x : {{x}} - y : {{y}}
        <span v-on:mousemove.stop="">PARAR AQUI!!</span>
    </p>
    <a v-on:click.prevent="print" href="http://www.google.com.br">Google</a>
    <a v-on:click="prevent" href="http://www.amazon.com.br">Amazon</a>
    <hr>
    <input type="text" name="nome" id="nome" v-on:keyup="alert">
    <input type="text" name="nome" id="nome" v-on:keyup.enter.alt="alert"> <!-- pressionar enter + alt -->
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0,
            x: 0,
            y: 0
        },
        methods: {
            somar(passo, event) {
                console.log(event)
                this.contador += passo
            },
            atualizarXY(event) {
                this.x = event.clientX
                this.y = event.clientY
            },
            print() {
                console.log('não navegar')
            },
            prevent(event) {
                event.preventDefault();
            },
            alert() {
                alert('você pressionou uma tecla')
            }
        }
    })
</script>