<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ titulo }}</p>
    <input type="text" v-model="titulo">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            titulo: 'Titulo da Mensagem'
        }
    })
</script>