<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="contador2++">Aumentar 2</button>
    <button v-on:click="diminuir">Diminuir</button>
    <p>{{contador}} | {{contador2}}</p>
    <p>{{ resultado }}</p>
    <p>{{ teste() }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador:  0,
            contador2: 0
        },
        computed: {
            resultado() {
                console.log('Será chamando somente quando solicitado')
                return this.contador >= 10 ? 'Maior que 10' : 'Menor que 10'
            }
        },
        methods: {
            aumentar() {
                this.contador++
            },
            diminuir() {
                this.contador--
            },
            // resultado() {
            //     return this.contador >= 10 ? 'Maior que 10' : 'Menor que 10'
            // },
            teste() {
                console.log('Sempre será chamado quando acionar um evento');
                return 'teste'
            }
        },
    })
</script>