<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <button v-on:click="aumentar">Aumentar</button>
    <button v-on:click="contador2++">Aumentar 2</button>
    <button v-on:click="diminuir">Diminuir</button>
    <p>{{contador}} | {{contador2}}</p>
    <p>{{ resultado }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador:  0,
            contador2: 0
        },
        computed: {
            resultado() {
                return this.contador >= 10 ? 'Maior que 10' : 'Menor que 10'
            }
        },
        watch: {
            contador(novo, antigo) {
                setTimeout(() => {
                    this.contador = 0
                }, 2000)
            }
        },
        methods: {
            aumentar() {
                this.contador++
            },
            diminuir() {
                this.contador--
            }
        },
    })
</script>