<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    #app {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: blue;
    }

    .c3 {
        background-color: green;
    }
</style>
<div id="app">
    <div class="demo" :class="estilo" @click="aplicarC1 = !aplicarC1"></div>    
    <div class="demo"></div>    
    <div class="demo"></div>    
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            aplicarC1: false
        },
        computed: {
            estilo() {
                return {
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1
                }
            }
        }
    })
</script>