<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    .exemple {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: blue;
    }

    .c3 {
        background-color: green;
    }
    
    .girar {
        transform: rotate(55deg)
    }
</style>
<div id="app">
    <div class="exemple">
        <div class="demo" :class="estilo" @click="aplicarC1 = !aplicarC1"></div>    
        <div class="demo"></div>    
        <div class="demo" :class="[aplicarCSS, {girar: aplicarGirar}]"></div>    
    </div>
    <hr>
    <input type="text" v-model="aplicarCSS">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            aplicarC1: false,
            aplicarCSS: 'c1',
            aplicarGirar: true
        },
        computed: {
            estilo() {
                return {
                    c1: this.aplicarC1,
                    c2: !this.aplicarC1
                }
            }
        }
    })
</script>