<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    .exemple {
        display: flex;
        justify-content: space-around;
    }
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
    }

    .c1 {
        background-color: red;
    }

    .c2 {
        background-color: blue;
    }

    .c3 {
        background-color: green;
    }
    
    .girar {
        transform: rotate(55deg)
    }
</style>
<div id="app">
    <div class="exemple">
        <div class="demo" :style="{'background-color': cor}"></div>    
        <div class="demo" :style="{backgroundColor: cor}"></div>    
        <div class="demo" :style="[meuEstilo, {'background-color': cor}]"></div>    
    </div>
    <hr>
    <input type="text" v-model="cor">
    <input type="text" v-model="largura">
    <input type="text" v-model="altura">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cor: 'red',
            largura: 100,
            altura: 100
        },
        computed: {
            meuEstilo() {
                return {
                    width: this.largura + 'px',
                    height: this.altura + 'px'
                }
            }
        }
    })
</script>