<template>
	<div id="app" class="container">
		<h1>HTTP com Axios</h1>
		<b-alert show dismissible v-for="mensagem in mensagens" 
			:key="mensagem.texto"
			:variant="mensagem.tipo">{{mensagem.texto}}</b-alert>
		<b-card>
			<b-form-group label="nome">
				<b-form-input type="text" size="lg"
					v-model="usuario.nome" 
					placeholder="Digite seu nome">
				</b-form-input>
			</b-form-group>
			<b-form-group label="email">
				<b-form-input type="email" size="lg"
					v-model="usuario.email" 
					placeholder="Digite seu email">
				</b-form-input>
			</b-form-group>
			<hr>
			<b-button @click="save" 
				size="lg" variant="primary">Salvar</b-button>
			<b-button @click="obterUsuarios"
				size="lg" variant="success"
				class="ml-2">Obter Produtos</b-button>
		</b-card>
		<hr>
		<b-list-group>
			<b-list-group-item v-for="(usuario, id ) in usuarios" :key="id">
				<strong>Nome:</strong> {{ usuario.nome }}<br>
				<strong>Email:</strong> {{ usuario.email }}<br>
				<strong>ID:</strong> {{ id }}<br>
				<b-button variant='warning' @click="visualizar(id)">Visualizar</b-button> 
				<b-button variant='danger' @click="excluir(id)" class="ml-2">Excluir</b-button>
			</b-list-group-item>
		</b-list-group>
	</div>
</template>

<script>
export default {
	data() {
		return {
			id: null,
			usuarios: [],
			usuario: {
				nome: '',
				email: ''
			},
			mensagens: []
		}
	},
	methods: {
		limpar() {
			this.id = null
			this.usuario.nome = ''
			this.usuario.email = ''
		},
		visualizar(id) {
			this.id = id
			this.usuario = { ...this.usuarios[id]}
		},
		excluir(id) {
			this.$http.delete(`usuario/${id}.json`)
				.then(() => this.limpar())
				.catch(err => {
					this.limpar()
					this.mensagens.push({
						texto: 'Problema interno',
						tipo: 'danger'
					})
				})
		},
		save() {
			const method = this.id ? 'patch' : 'post'
			const url = this.id ? `/usuario/${this.id}.json` : '/usuario.json'
			this.$http[method](url, this.usuario)
				.then(() => {
					this.limpar()
					this.mensagens.push({
						texto: 'Sucesso',
						tipo: 'success'
					})
				})
		},
		obterUsuarios() {
			// this.$http('usuario.json').then(res => {
			// 	this.usuario = res.data
			// 	console.log(this.usuario)
			// })
			this.$http.get('usuario.json').then(res => {
				this.usuarios = res.data
				console.log(this.usuario)
			})

			this.$http.defaults.headers.common['Authorization'] = 'token123'
		}
	},
	created() {
		console.log(this.usuario);
	}
	// created() {
	// 	this.$http.post('usuario.json', {
	// 		name: 'Maria',
	// 		email: 'maria@gmail.com'
	// 	}).then(res => console.log(res))
	// }
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	font-size: 1.5rem;
}

#app h1 {
	text-align: center;
	margin: 50px;
}
</style>
