<template>
	<div id="app">
		<h1>Diretivas</h1>
		<p v-text="'usando diretiva v-text'"></p>
		<p v-html="'usando diretiva <strong>v-html</strong>'"></p>
		<hr>
		<p v-diretiva:argumento.modificador="'lightblue'">Usando diretiva personalizada</p>
		<p v-diretiva="cor">Usando diretiva personalizada</p>
		<hr>
		<p v-diretiva-local:argumento.modificador.modificador2="{cor1: 'lightblue', cor2:'red', atraso: 1000, intervado: 500}">Usando diretiva personalizada</p>
		<p v-diretiva-local="{cor1: cor}">Usando diretiva personalizada</p>
	</div>
</template>

<script>
export default {
	directives: {
		'diretiva-local': {
			bind(el, binding, vnode) {
				const aplicarCor = cor => {
					if (binding.arg == 'argumento') {
						el.style.backgroundColor = cor
					} else {
						el.style.color = cor
					}
				}
				let atraso = 0
				if (binding.modifiers['modificador']) atraso = binding.value.atraso

				const cor1 = binding.value.cor1
				const cor2 = binding.value.cor2
				let corAtual = cor1

				setTimeout(() => {
					if (binding.modifiers['modificador2']) {
						setInterval(() => {
							corAtual = corAtual === cor1 ? cor2 : cor1
							aplicarCor(corAtual)
						}, binding.value.intervalo)
					} else {
						aplicarCor(cor1)
					}
				}, atraso)
			}
		}
	},
	data() {
		return {
			cor: 'lightgreen'
		}
	},
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	font-size: 2.5rem;
}
</style>
