<template>
	<v-app>
		
		<app-menu></app-menu>

		<app-header></app-header>

		<app-carousel></app-carousel>

		<app-footer></app-footer>
	</v-app>
</template>

<script>
import Header from './Header.vue'
import Menu from './Menu.vue'
import Carousel from './Carousel.vue'
import Footer from './Footer.vue'

export default {
	components: {
		'app-header': Header,
		'app-menu': Menu,
		'app-carousel': Carousel,
		'app-footer': Footer
	}
}
</script>
