<template>
    <v-navigation-drawer app>
        <v-toolbar flat>
            <v-list>
                <v-list-tile>
                    <v-list-tile-title class="title">
                        Menu
                    </v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-toolbar>

        <v-divider></v-divider>

        <menu-itens></menu-itens>
    </v-navigation-drawer>
</template>

<script>
import MenuItens from './MenuItens.vue'
export default {
    components: {
        'menu-itens': MenuItens
    }
}
</script>