<template>
    <Painel titulo="Loja Virtual" verde>
        <div class="loja">
            <span>Adicionar</span>
            <input type="number" v-model.number="quantidade">
            <span>itens de <strong>R$</strong></span>
            <input type="number" v-model.number="preco">
            <button @click="adicionar">Agora!</button>
        </div>
    </Painel>
</template>

<script>
// import { mapMutations } from 'vuex';
import { mapActions } from 'vuex';

export default {
    data() {
        return {
            sequencia: 1
        }
    },
    computed: {
        quantidade() {
            return this.$store.state.parametros.quantidade
        },
        preco() {
            return this.$store.state.parametros.preco
        }
    },
    methods: {
        // ...mapMutations(['adicionarProduto']),
        ...mapActions('carrinho', ['adicionarProduto']),
        // O mapAction se transformará em uma função de 'dispatch' e o de mapMutations em uma de 'commit'
        // adicionarProduto(produto) {
        //     this.$store.dispatch('adicionarProduto', produto)
        // },
        adicionar() {
            const produto = {
                id: this.sequencia,
                nome: `Produto ${this.sequencia}`,
                quantidade: this.quantidade,
                preco: this.preco
            }
            this.sequencia++

            // this.$store.state.produtos.push(produto)
            // this.$store.commit('adicionarProduto', produto) // esta adicionando pelo Estado Centralizado atraves da mutations
            
            // this.$store.dispatch('adicionarProduto', produto) // esta adicionando pelo Estado Centralizado atraves da Actions
            this.adicionarProduto(produto) // Funciona com Actions e Mutations quando usado o operador spread
            console.log(this.$store.getters.getNome)
            console.log(this.$store.getters.getNomeCompleto)
        }
    }
}
</script>

<style>
    .loja {
        display: flex;
        justify-content: center;
    }

    .loja > * {
        margin: 0px 10px;
    }

    input {
        font-size: 2rem;
        width: 90px;
    }
</style>
