<template>
    <Painel titulo="Resumo" roxo>
        <div class="resumo">
            <span>Total: <strong>{{ total | dinheiro }}</strong></span>
            <hr>
            <button>Finalizar!</button>
        </div>
    </Painel>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    // Maneiras de retornar o getter do estado centralizado
    //
    // computed: {
    //     total() {
    //         return this.$store.getters.totalProdutos
    //     }
    // }
    // computed: mapGetters(['totalProdutos']) // função deve ser retornado 'totalProdutos'
    computed: mapGetters('carrinho', {
        total: 'totalProdutos'
    }),
}
</script>

<style>
    table {
        width: 100%;
    }

    td {
        border-top: 1px solid #EEE;
        width: 33%;
    }
</style>
