<template>
    <div>
        <h1>{{ globalMixin }}</h1>
        <ul>
            <li v-for="fruta in frutas" :key="fruta">{{ fruta }}</li>
        </ul>
        <input type="text" @keydown.enter="add">
    </div>
</template>

<script>
import frutasMixin from './frutasMixin'
export default {
    mixins: [frutasMixin]
}
</script>

<style>

</style>
