<template>
	<div id="app" class="container-fluid">
		<h1>Animações</h1>
		<hr>
		<b-button variant="primary" class="mb-4"
			@click="exibir = !exibir">Mostrar Mensagem</b-button>
		
		<!-- <transition name="fade" appear>
			<b-alert variant="info" show v-if="exibir">{{ mensagem }}</b-alert>
		</transition>

		<transition name="slide" type="animation" appear> 
			atributo type é responsável por deterninar qual atributo css que controlará o tempo
			<b-alert variant="info" show v-show="exibir">{{ mensagem }}</b-alert>
		</transition>

		<transition
			enter-active-class="animated bounce"
			leave-active-class="animated shake"> 
			<b-alert variant="info" show v-show="exibir">{{ mensagem }}</b-alert>
		</transition> -->

		<!-- <hr>

		<b-select v-model="tipoAnimacao" class="mb-4">
			<option value="fade" selected="selected">fade</option>
			<option value="slide">slide</option>
		</b-select>

		<transition :name="tipoAnimacao" mode="out-in">
			<b-alert variant="info" show v-if="exibir" key="info">{{ mensagem }}</b-alert>
			<b-alert variant="warning" show v-else key="w">{{ mensagem }}</b-alert>
		</transition>

		<hr>

		<button @click="exibir2 = !exibir2">Mostrar</button>

		 :css="false" -> impossibilita qualquer animação agir sobre a transition 
		<transition
			:css="false" 
			@before-enter="beforeEnter"
			@enter="enter"
			@after-enter="afterEnter"
			@enter-cancelled="enterCancelled"
			
			@before-leave="beforeLeave"
			@leave="leave"
			@after-leave="afterLeave"
			@leave-cancelled="leaveCancelled">
			<p v-if="exibir2" class="box"></p>
		</transition>

		<hr>

		<div class="mb-4">
			<b-button variant="primary" @click="componentId = 'AlertInfo'" >info</b-button>
			<b-button variant="warning" @click="componentId = 'AlertAdvertencia'" >warning</b-button>
		</div>
		<transition name="fade" mode='out-in'>
			<component :is="componentId"></component>
		</transition> -->

		<hr>

		<b-button @click="adicionarAlunos" class="mb-5">Adicionar Aluno</b-button>
		<transition-group name="slide"  tag="div">
			<b-list-group v-for="(aluno, index) in alunos" :key="aluno">
				<b-list-group-item @click="removerAlunos(index)">{{aluno}}</b-list-group-item>	
			</b-list-group>
		</transition-group>
	</div>
</template>

<script>
import AlertInfo from './AlertInfo.vue'
import AlertAdvertencia from './AlertAdvertencia.vue'
export default {
	components: {AlertInfo, AlertAdvertencia},
	data() {
		return {
			alunos: ['Marcos', 'Miranda', 'Paulo', 'Carlos'],
			mensagem: 'Mensagem para ser exibida',
			exibir: false,
			exibir2: true,
			tipoAnimacao: "fade",
			larguraBase: 0,
			componentId: 'AlertInfo'
		}
	},
	methods: {
		adicionarAlunos() {
			const aluno = Math.random().toString(36).substring(2)
			this.alunos.push(aluno)
		},
		removerAlunos(index) {
			this.alunos.splice(index, 1)
		},
		animar(el, done, negativo) {
			let rodada = 1
			const temporizador = setInterval(() => {
				const novaLargura = this.larguraBase +
					(negativo ? -rodada : rodada) *10
				el.style.width = `${novaLargura}px`
				rodada++
				if (rodada > 30) {
					clearInterval(temporizador)
					done()
				}
			}, 20)
		},

		beforeEnter(el) {
			this.larguraBase = 0
			el.style.width = `${this.larguraBase}px`
		},
		enter(el, done) {
			this.animar(el, done, false)
		},
		afterEnter(el) {
			console.log('enter after')
		},
		enterCancelled(el) {
			console.log('enter canceled')
		},

		beforeLeave(el) {
			this.larguraBase = 300
			el.style.width = `${this.larguraBase}px`
		},
		leave(el, done) {
			this.animar(el, done, true)
		},
		afterLeave(el) {
			console.log('Leave after')
		},
		leaveCancelled(el) {
			console.log('Leave canceled')
		}
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	font-size: 1.5rem;
}

.box {
	width: 100px;
	height: 100px;
	margin: 23px auto;
	background-color: greenyellow;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 2s;
}

@keyframes slide-in {
	from {transform: translateY(40px);}	
	to {transform: translateY(0);}	
}

@keyframes slide-out {
	from {transform: translateY(0);}	
	to {transform: translateY(40px);}	
}	

.slide-enter, .slide-leave-to {
	opacity: 0;
}

.slide-enter-active {
	animation: slide-in 2s ease;
	transition: opacity 2s;
}

.slide-leave-active {
	position: absolute;
	width: 100%;
	animation: slide-out 2s ease;
	transition: opacity 2s;
}

.slide-move {
	transition: transform 1s;
}
</style>
