<template>
    <div>
        <input type="text" placeholder="Nova Tarefa?" 
            v-model="input" 
            v-on:keyup.enter="includeTask">
        <button @click="includeTask">+</button>
    </div>
</template>

<script>
export default {
    props: ['tasks'],
    data() {
        return {
            input: ""
        }
    },
    methods: {
        includeTask() {
            const newTask = this.input

            if (!this.checkTaskExist(newTask)) {
                this.tasks.push({text: newTask, status: "taskPending"})
            }

            this.input = ""
        },
        checkTaskExist(task) {
            return this.tasks.some(tk => tk.text == task)
        }
    },
}
</script>

<style scoped>
div {
    display: flex;
    margin-top: 20px;
}
input {
    background-color: #fffff47a;
    border: 2px solid #fffff4b0;
    padding: 5px;
    font-size: 21px;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
button {
    background-color:#00cbff;
    border-radius: 0 5px 5px 0;
    color: white;
    font-size: 20px;
    border: 2px solid #fffff4b0;
    cursor: pointer;
}
</style>
