<template>
    <div class="bar">
        <div class="percent-progress">{{progress}}%</div>
        <div class="progress" :style="{width: progress + '%'}"></div>
    </div>
</template>

<script>
export default {
    props: ['tasks'],
    computed: {
        progress() {
            const totalTasks = this.tasks.length > 0 ? this.tasks.length : 1
            const totalCompletedTasks = this.tasks.filter(tk => tk.status == "taskCompleted").length
            const percent = (totalCompletedTasks / totalTasks) * 100
            
            return Math.ceil(percent)
        }
    }
}
</script>

<style>
.bar {
    width: 70%;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.percent-progress {
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: bold
}
.progress {
    height: 20px;
    background: chartreuse;
}
</style>
