<template>
    <div class="taskList">
        <template v-if="tasks.leng > 0">
            <app-task 
                v-for="(task, index) in tasks" 
                :task="task" 
                :key="index">
            </app-task>
        </template>
        <p v-else>Sua vida esta em dia :)</p>
    </div>
</template>

<script>
import appTask from '@/components/Task.vue';
export default {
    props: {
        tasks: {
            type: Array,
            required: true
        }
    },
    components: {appTask}
}
</script>

<style>
.taskList {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
</style>
