<template>
    <div class="task" 
        :class="task.status" 
        @click="changeStatus">
        <button class="taskDelete" 
                @click.stop="taskDelete">x</button>
        {{task.text}}
    </div>
</template>

<script>
import barramento from '@/barramento';

export default {
    props: {
        task: {
            text: String,
            status: String
        }
    },
    methods: {
        changeStatus() {
            barramento.changeStatusTask(this.task)
        },
        taskDelete() {
            barramento.deleteTask(this.task)
        }
    }
}
</script>

<style>
.task {
    position: relative;
    margin: 20px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100px;
    text-align: center;
    color: white;
    border-left: 7px solid;
    border-radius: 5px; 
    cursor: pointer;
}
.taskPending {
    background-color: salmon;
    border-color:red;
}
.taskCompleted {
    background-color: greenyellow;
    border-color:green;
    text-decoration: line-through;
}
.taskPending .taskDelete {
    border: 1px solid red;
    background-color: tomato;
}
.taskCompleted .taskDelete {
    border: 1px solid green;
    background-color: goldenrod;
}
.taskDelete {
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    
    color: white;
    cursor: pointer;
    z-index: 20;
}
</style>
