<template>
  <div id="app">
    {{ titulo }}
    <button @click="titulo += '#'">
      alterar
    </button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      titulo: "Aprendendo sobre VUE"
    }
  }
}
</script>

<style>
  
</style>