<template>
    <div class="componente">
        <h2>As Informações de Usuário</h2>
        <p>Vários detalhes...</p>
        <p>Usuário <strong>{{ inverterNome() }}</strong></p>
        <p>Idade <strong>{{ idade }}</strong></p>
        <p>Gênero <strong>{{ genero }}</strong></p>
        <button @click="reverterNome">Reverter Nome</button>
        <button @click="reverterFn">Reverter Nome (CALLBACK)</button>
    </div>
</template>

<script>
import barramento from '@/barramento'

export default {
    props: {
        nome: {
            type: String,
            //requied: true,
            // default: function() {
            //     return Array(10).fill(0).join(',')
            // },
            default: 'Anônimo'
        },
        reverterFn: Function,
        idade: Number,
        genero: String
    },
    methods: {
        inverterNome() {
            return this.nome.split('').reverse().join('')
        },
        reverterNome() {
            this.nome = "Pedro"
            this.$emit('reverterNome', this.nome)
            
            // é possível passar um objeto
            // antigoNome = this.nome
            // this.nome = "Pedro"
            // this.$emit('reverterNome', {
            //     novoNome: this.nome,
            //     antigoNome
            // })
        }
    },
    created() {
        barramento.quantoGeneroMudar(genero => {
            this.genero = genero
        })
    },
}
</script>

<style scoped>
    .componente {
        flex: 1;
        background-color: #ec485f;
        color: #fff;
    }
</style>
