<template>
    <div class="container">
        <h1>Componente Usuário</h1>
        <p>Esse é um componente muito legal!</p>
        <p>Nome <strong>{{ nome }}</strong></p>
        <p>Idade <strong>{{ idade }}</strong></p>
        <p>Idade <strong>{{ genero }}</strong></p>
        <button @click="alterarNome">Alterar Nome</button>
        <hr>
        <div class="componentes">
            <app-usuario-info 
                :nome="nome"
                :idade="idade"
                :genero="genero"
                @reverterNome="nome = $event"
                :reverterFn="reverterNome" />
            <app-usuario-editar
                :idade="idade"
                :genero="genero"
                @mudarIdade="idade = $event"
                :alterarIdadeFn="alterarIdade" />
        </div>
    </div>
</template>

<script>
import AppUsuarioInfo from './UsuarioInfo'
import AppUsuarioEditar from './UsuarioEditar'

export default {
    components: { AppUsuarioInfo, AppUsuarioEditar },
    data() {
        return {
            nome: "Pedro",
            idade: 29,
            genero: 'Masculino'
        }
    },
    methods: {
        alterarNome() {
            this.nome = "Ana"
        },
        reverterNome() {
            this.nome = "Pedro"
        },
        alterarIdade() {
            this.idade = 33
        }
    },
}
</script>

<style scoped>
    .container {
        background-color: #27363b;
        color: #fff;
        padding: 10px;
    }

    .container hr {
        margin: 20px 10px;
    }

    .componentes {
        display: flex;
    }

    .componentes > * {
        margin: 10px;
    }
</style>
