<template>
    <div class="componente">
        <h2>Alterar os Dados de Usuário</h2>
        <p>Edite as informações</p>
        <p>Idade <strong>{{ idade }}</strong></p>
        <p>Gênero <strong>{{ genero }}</strong></p>
        <button @click="alterarIdade">Alterar Idade</button>
        <button @click="alterarIdadeFn">Alterar Idade (CALLBACK)</button>
        <button @click="alterarGenero">Alterar Gênero (BARRAMENTO)</button>
    </div>
</template>

<script>
import barramento from '@/barramento'
export default {
    props: ['idade', 'alterarIdadeFn', 'genero'],
    methods: {
        alterarIdade() {
            this.$emit('mudarIdade', 33)
        },
        alterarGenero() {
            this.genero = 'Feminino';
            barramento.alterarGenero(this.genero)
        }
    },
}
</script>

<style scoped>
    .componente {
        flex: 1;
        background-color: #98b99a;
        color: #fff;
    }
</style>
