#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

#progressBar {
	width: 50%;
	height: 50px;
	border: 1px solid black;
}

.loading {
	background-color: goldenrod;
	height: 50px;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.blue {
	background-color: blue;
}