<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <div v-if="logado">Usuário logado {{ nome }}</div>
    <div v-else>Nenhum usuário está logado</div>
    <button @click="logado = !logado">{{ logado ? "Sair" : "Entrar" }}</button>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Pedro",
            logado: false
        }
    })
</script>