<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <template v-if="logado">
        <div>Usuário logado {{ nome }}</div>
        <p>Usuário: Admin</p>
    </template>
    <div v-else-if="anonimo">Navegando como anônimo</div>
    <div v-else>Nenhum usuário está logado</div>
    <button @click="logado = !logado">{{ logado ? "Sair" : "Entrar" }}</button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: "Pedro",
            logado: false,
            anonimo: false
        }
    })
</script>