<meta charset="UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="cor in cores">{{ cor }}</li>
    </ul>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['azul', 'amarelo', 'vermelho', 'violeta', 'preto']
        }
    })
</script>