<meta charset="UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{i}} - {{ cor }}</li>
    </ul>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['azul', 'amarelo', 'vermelho', 'violeta', 'preto']
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
</style>