<meta charset="UTF-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{i}} - {{ cor }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            <!-- {{pessoa.nome}} -->
            <div v-for="(valor, chave, index) in pessoa">
                <span>{{chave}} - {{valor}} {{index}}</span>
            </div>
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="n in 10">{{ n }}</li>  
    </ul>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['azul', 'amarelo', 'vermelho', 'violeta', 'preto'],
            pessoas: [
                {nome: "Fabricio", idade: 26, peso: 89},
                {nome: "Giovanna", idade: 36, peso: 69}
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }
</style>