<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ mensagem }}</p>
</div>

<script>
new Vue({
    el: "#app",
    data: {
        mensagem: "Mensagem"
    }
})
</script>