<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <input type="text" v-on:input="alterarMensagem">
    <p>{{ mensagem }}</p>
</div>

<script>
new Vue({
    el: "#app",
    data: {
        mensagem: "Mensagem"
    },
    methods: {
        alterarMensagem(event) {
            this.mensagem = event.target.value;
        }
    }
})
</script>