<template>
    <div>
        <span>{{contador}}</span>
        <button @click="somar">+</button>
        <button @click="subtratir">-</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            contador: 0
        }
    },
    methods: {
        somar() {
            this.contador++
        },
        subtratir() {
            this.contador--
        }
    },
}
</script>

<!-- scoped - vai apenas atribuir o estilo para seletores do componente ou componentes filhos -->
<style scoped>
    div {
        margin: 10px
    }
    span {
        padding: 5px;
        border: 1px solid olivedrab;
        color: grey;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: olivedrab;
        border: none;
    }
</style>
