<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script rel="stylesheet" src="http://unpkg.com/vue"></script>

<div id="app1">
    <contador1></contador1>
    <hr>
</div>

<div id="app2">
    <contador2></contador2>
</div>

<script>
    const contador = {
        template: `
        <div>
            <p>{{ contador }}</p>
            <button @click="contador++">+</button>
            <button @click="contador--">-</button>
        </div>
        `,
        data() {
            return {
                contador: 0
            }
        }
    }

    new Vue({
        el: "#app1",
        components: {
            contador1: contador
        }
    })

    new Vue({
        el: "#app2",
        components: {
            contador2: contador
        }
    })
</script>