<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div>
    <div id="app1">
        {{ titulo1 }}
        <button @click="alterar()">Alterar</button>
    </div>
</div>

<div>
    <div id="app2">
        {{ titulo2 }}
        <button @click="alterar()">Alterar</button>
    </div>
</div>

<script>
    new Vue({
        el: "#app1",
        data: {
            titulo1: 'Titulo1'
        },
        methods: {
            alterar() {
                this.titulo1 += "!!!"
            }
        },
    })

    new Vue({
        el: "#app2",
        data: {
            titulo2: 'Titulo1'
        },
        methods: {
            alterar() {
                this.titulo2 += "!!!"
            }
        },
    })
</script>