<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div>
    <div id="app">
        {{ titulo }} 
        {{novaInformacao}} <!-- não aparece na DOM -->
        <button @click="alterar()">Alterar</button>
    </div>
</div>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            titulo: 'Titulo'
        },
        methods: {
            alterar() {
                vm.titulo += "???"
            }
        },
    })

    vm.novaInformacao = 'Nova data'
    console.log(vm.novaInformacao) // aparece no console
</script>