<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div>
    <div id="app">
        <h1 ref="referenciaDOM">{{ titulo }}</h1>
        <h2>{{ modulo }}</h2>
        <button @click="alterarTitulo">Alterar Título</button>
        <button @click="alterarModulo">Alterar Módulo</button>
    </div>
</div>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            titulo: 'Titulo',
            modulo: 'modulo'
        },
        methods: {
            alterarTitulo() {
                this.titulo += "#"
            },
            alterarModulo() {
                this.modulo += "#"
            }
        },
    })

    vm.$refs.referenciaDOM.innerText = "Alterando o título diretamente :("
</script>