<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div>
    <div id="app">
        <comp></comp>
        <comp></comp>
        <comp></comp>
    </div>
</div>

<script>

    Vue.component('comp', {
        template: `
        <div>
            <h1 ref="referenciaDOM">{{ titulo }}</h1>
            <h2>{{ modulo }}</h2>
            <button @click="alterarTitulo">Alterar Título</button>
            <button @click="alterarModulo">Alterar Módulo</button>
        </div>
        `,
        data: function() {
            return {
                titulo: 'Titulo',
                modulo: 'modulo'
            }
        },
        methods: {
            alterarTitulo() {
                this.titulo += "#"
            },
            alterarModulo() {
                this.modulo += "#"
            }
        }
    })

    const vm = new Vue({
        el: "#app"
    })
</script>