<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<script src="https://unpkg.com/vue"></script>

<div>
    <div id="app">
        <h1>{{titulo}}</h1>
        <button @click="titulo += '#'">Alterar</button>
        <button @click="$destroy()">Destruir</button>
    </div>
</div>

<script>

    new Vue({
        el: "#app",
        data() {
            return {
                titulo: "teste"
            }
        },
        beforeCreate() {
            console.log('Antes de criar a instância')
        },
        created() {
            console.log('Instâncias criadas')
        },
        beforeMount() {
            console.log('Antes de montar a DOM')
        },
        mounted() {
            console.log('DOM montada')
        },
        beforeUpdate() {
            console.log('Antes de Atualizar')
        },
        updated() {
            console.log('Atualizado')
        },
        beforeDestroy() {
            console.log('Antes de destruir as instâncias')
        },
        destroyed() {
            console.log('Destuido')
        },
    })
</script>