<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Projeto Mostro</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div id="app">
        <section class="box-section d-flex jc-space-between">
            <div class="box-players">
                <h1 class="title">Jogador</h1>
                <div>
                    <div class="life-bar">
                        <div :class="percentLifePlayer > 20 ? 'life-green' : 'life-red'" :style="{width: percentLifePlayer  + '%'}"></div>
                    </div>
                    <p>{{percentLifePlayer}} %</p>
                </div>
            </div>
            <div class="box-players">
                <h1 class="title">Mostro</h1>
                <div>
                    <div class="life-bar">
                        <div class="life-green" :class="{'life-red': percentLifeMoster < 20}" :style="{width: percentLifeMoster + '%'}"></div>
                    </div>
                    <p>{{percentLifeMoster}} %</p>
                </div>
            </div>
        </section>
        <section class="box-section" v-show="hasWinner()">
            <div class="winner-player" v-show="hasWinner() == 'player'">
                Você ganhou :)
            </div>
            <div class="winner-moster" v-show="hasWinner() == 'moster'">
                Você perdeu :´(
            </div>
        </section>
        <section class="box-section">
            <div class="box-button">
                <template v-if="!play">
                    <button class="btn btn-iniciar" @click="startGamePlay">INICIAR NOVO JOGO</button>
                </template>
                <template v-else>
                    <button class="btn btn-ataque" @click="normalAttack">ATAQUE</button>
                    <button class="btn btn-ataque-especial" @click="especialAttack">ATAQUE ESPECIAL</button>
                    <button class="btn btn-curar" @click="healing">CURAR</button>
                    <button class="btn btn-desistir" @click="play = false">DESISTIR</button>
                </template>
            </div>
        </section>
        <section class="box-section">
            <div v-for="(item, index) in log" :key="index">
                <div class="point" :class="item.type">O ataque do {{item.type}} foi de {{item.attack}}</div>
            </div>
        </section>
    </div>
    <script src="http://unpkg.com/vue"></script>
    <script src="script.js" type="text/javascript"></script>
</body>
</html>