#app {
    padding: 5px;
}

.box-section {
    box-shadow: 0 0 5px #85828288;
    padding: 20px 20px 10px 20px;
    margin-top: 20px; 
}

.title {
    color: #818182;
    margin-bottom: 10px;
}

.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.box-players {
    width: 43%;
}

.life-bar {
    width: 100%;
    border: 2px solid #ccc;
    height: 20px;
}

.life-bar>div {
    height: 20px;
}

.life-green {
    background-color: #13d31c;
}

.life-red {
    background-color: #d32313;
}

.box-button {
    display: flex;
    justify-content: space-around;
}

.winner-player {
    text-align: center;
    color: #00aeff;
}

.winner-moster {
    text-align: center;
    color: #ff2012;
}

.btn {
    padding: 10px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-iniciar {
    background-color: blueviolet
}

.btn-ataque {
    background-color: yellow;
}

.btn-ataque-especial {
    background-color: orange;
}

.btn-curar {
    background-color: greenyellow;
}

.btn-desistir {
    background-color: red;
}

.point {
    padding: 30px;
    margin-bottom: 20px;
}

.mostro {
    background: salmon;
    border: 2px solid #d32313;
}

.jogador {
    background: aqua;
    border: 2px solid aquamarine;
}