<template>
    <div class="usuarios">
        <h1>usuário</h1>
        <router-view />
        <hr>
        <button sucesso @click="voltarParaOInicio">Voltar</button>
    </div>
</template>

<script>
export default {
    methods: {
        voltarParaOInicio() {
            // this.$router.push('/') variação
            // this.$router.push({ path: '/' })
            this.$router.push({ name: 'inicio' })
        }
    },
}
</script>

<style>

</style>
