<template>
    <div class="usuario-editar">
        <h3>Editar Usuário</h3>
        <p>id: {{ id }}</p>
        <p><strong>Complemento</strong> {{ $route.query.complemento ? "sim" : "não" }}</p>
        <p><strong>Língua</strong> {{ $route.query.lingua }}</p>
        <button primario @click="confirmou = true">Confirmar</button>
        <div id="rodape">
            <h3>Roda Pé</h3>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],
    data() {
        return {
            confirmou: false
        }
    },
    beforeRouteLeave(to, from, next) {
        if (this.confirmou) {
            next()
        } else {
            if (confirm('tem certeza?')) {
                next()
            } else {
                next(false)
            }
        }
    }
}
</script>

<style>
#rodape {
    margin-top: 1000px
}
</style>
