<template>
    <div class="usuario-detalhe">
        <h3>Detalhe do Usuário</h3>
        <p>id: {{ id }} / {{ $route.params.id }}</p>
        <router-link tag="button" primario 
            :to="{name: 'usuarioEditar', params: {id}, 
                query: {complemento: true, lingua: 'pt'},
                hash: '#rodape'}">
            <!-- :to="`/usuario/${id}/editar`" -->
            Editar
        </router-link>
    </div>
</template>

<script>
export default {
    props: ['id'],
    beforeRouteEnter (to, from, next) {
        console.log('Dentro do componente - Usuário editar')
        // next(vm => {
        //     console.log(vm.id)
        // })
        const autenticado = true
        autenticado ? next() : next(false)
    }
    // Aula 254
    // data() {
    //     return {
    //         id: this.$route.params.id
    //     }
    // },
    // watch: {
    //     $route(to, from) {
    //         this.id = to.params.id
    //     }
    // },
}
</script>

<style>

</style>
