<template>
	<div id="app">
		<h1>Tarefas</h1>
		<app-progress-bar :tasks="tasks"></app-progress-bar>
		<app-include-task :tasks="tasks"></app-include-task>
		<app-tasks-list :tasks="tasks"></app-tasks-list>
	</div>
</template>

<script>
import appProgressBar from '@/components/ProgressBar.vue';
import appIncludeTask from '@/components/IncludeTask.vue';
import appTasksList from '@/components/TasksList.vue';
import barramento from '@/barramento';

export default {
	components: {appProgressBar, appIncludeTask, appTasksList},
	data() {
		return {
			tasks: []
		}
	},
	watch: {
		deep: true,
		handler() {
			localStorage.setItem('tasks', JSON.stringify(this.tasks))
		}
	},
	created() {
		// Não funcionará o localstorage porque o includetask foi criado dentro do componente
		// e não foi emitido um evento para o pai (App.vue) que é o correto
		const json = localStorage.getItem('tasks');
		const array = JSON.parse(json)
		this.tasks = Array.isArray(array) ? array : []

		barramento.changedStatusTask(task => {
			if (task.status == "taskPending") {
                task.status = "taskCompleted"
            } else {
                task.status = "taskPending"
			}
		}),
		barramento.deletedTask(task => {
			const index = this.tasks.indexOf(task)
			if (index > -1) {
				this.tasks.splice(index, 1)
			}

			// this.tasks = this.tasks.filter(tk => tk.text != task.text)
		})
	},
}
</script>

<style>
	body {
		font-family: 'Lato', sans-serif;
		background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
		color: #FFF;
	}

	#app {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	#app h1 {
		margin-bottom: 5px;
		font-weight: 300;
		font-size: 3rem;
	}
</style>
